{% extends 'registration/base.html' %}
{% block content %}

    <div class="header">
    <h1>Details of the Users</h1>
        {% for student in userlogin %}
    </div>
    <div class="content">

        <table border="0">
            <tr>
                <td> {{ student.username}}</td>
<!--                <td> {{ student.first_name}}</td>-->
<!--                <td>{{ student.last_name}}</td>-->

            </tr>
        </table>

        {% endfor %}
    <a href='../editprofile/'><button type="submit" >EDIT PROFILE</button>
    </a>
    </div>

{% endblock %}